.page {
    text-align: center;
    background-color: gainsboro;
    margin-block-start: auto;
    padding: 10px 20px 10px 20px;
}

.display {
    text-align: left;
    background-color: lavender;
    margin-block-start: auto;
    padding: 10px 20px 10px 20px;
}

.footer {
    text-align: center;
}

textarea {
    padding: 10px;
    text-align: center;
    resize: none;
    border: none; 
}

textarea:focus {
    background-color:aliceblue;
    border: none; 
}

table {
    width: 500px;
    background-color: white;
}

thead {
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: aliceblue;
}
